/* CSS calendar layout; Time Mark Corporation Engineering Intranet Site */
@charset "UTF-8";

.clock_caption
{
  background-color: red;
  color: yellow;
  margin: 8px 0 0 -5px;
  max-width: 100px;
  min-width: 50px;
}

.outer_face
{
  background-color: white;
  border: 4px solid orange;
  border-radius: 130px;
  box-shadow: inset 0 0 0 gray;
  height: 130px;
  margin: 0 0 0 15%;
  position: relative;
  width: 130px;
}

.outer_face::before, .outer_face::after, .outer_face .marker
{
  content: "";
  position: absolute;
  width: 8px;
  height: 100%;
  background: black;
  z-index: 0;
  left: 48%;
  margin-left: -2px;
  top: 0;
}

.outer_face::after
{
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.outer_face .marker
{
  background: gray;
  width: 6px;
  margin-left: 0;
}

.outer_face .marker.oneseven
{
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.outer_face .marker.twoeight
{
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.outer_face .marker.fourten
{
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

.outer_face .marker.fiveeleven
{
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}

.inner_face
{
  position: relative;
  width: 88%;
  height: 88%;
  background: white;
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  z-index: 1000;
  left: 7%;
  top: 6%;
}

.inner_face::before
{
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 18px;
  margin-top: -9px;
  background: black;
  position: absolute;
  top: 50%;
  left: 42%;
  box-shadow: 0 0 30px blue;
}

.inner_face::after
{
  /*content: "TMC-QUARTZ";
  position: absolute;
  width: 100%;
  font: normal 0.6em Arial;
  color: gray;
  text-align: center;
  top: 85%;*/
}

.hand, .hand.hour
{
  position: absolute;
  width: 4px;
  height: 30%;
  top: 20%;
  left: 48%;
  background: black;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transform-origin: bottom;
  -ms-transform-origin: bottom;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  z-index: -1;
  -moz-box-shadow: 0 0 3px gray;
  -webkit-box-shadow: 0 0 3px gray;
  box-shadow: 0 0 3px gray;
}

.hand.minute
{
  height: 45%;
  left: 48%;
  top: 5%;
  width: 5px;
}

.hand.second
{
  height: 50%;
  left: 48%;
  width: 2px;
  top: 0;
  background: red;
}
